<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UpTheVilla</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>


<form class="signup-form">
  <h1 class="h3 mb-3 fw-normal">Sign Up</h1>

  <div class="form-floating">
    <input type="text" class="form-control" id="username-signup" placeholder="Username">
    <label for="username-signup">Username</label>
  </div>

  <div class="form-floating">
    <input type="email" class="form-control" id="email-signup" placeholder="example@example.com">
    <label for="email-signup">Email</label>
  </div>

  <div class="form-floating">
    <input type="password" class="form-control" id="password-signup" placeholder="Password">
    <label for="password-signup">Password</label>
  </div>

  <div class="d-grid gap-2 col-6 mx-auto forms">
    <button class="w-100 btn btn-lg submit" type="submit">Sign Up</button>
  </div>
</form>

<script src="/javascript/signup.js"></script>
© 2021 GitHub, Inc.